{% include "tef/layout/header.html" %}
<div class="ui middle aligned grid">
    <div class="column">
        <form action="{% url 'tef:search' %}" method="post" class="ui large form">
            <div class="ui stacked segment">
                <h2 class="ui teal header">Sequence Search</h2>
                <div class="ui divider"></div>
                {% include "tef/forms/form_template.html" with form=search_form %}
            </div>
        </form>
    </div>
</div>
{% include "tef/layout/footer.html" %}