{% include "tef/layout/header.html" with title=title %}
<div class="ui middle aligned grid">
    <div class="column">
        <form action="{% url 'tef:search' %}" method="post" class="ui large form">
            <div class="ui stacked segment">
                <h2 class="ui teal header">Sequence Search</h2>
                <div class="ui message">
                    <div class="header">How to Use</div>
                    <p>Use the TEFinder to find transposons in your DNA sequence. Simply
                    enter your FASTA sequence in box below and hit enter.</p>
                    <ul class="list">
                        <li>
                            Threshold and Distance allow you to control how precise the search is.
                            <ul class="list">
                                <li>Threshold is the percentage of matches you would like over the distance specified.</li>
                                <li>Distance is the minimum total distance that we should consider a threshold for.</li>
                                <li>For example, 33 matches over a distance of 50 bases would be caught with a maximum of 66% threshold.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="ui divider"></div>
                {% include "tef/forms/form_template.html" with form=search_form %}
            </div>
        </form>
    </div>
</div>
{% include "tef/layout/footer.html" %}