{% include "tef/layout/header.html" with title=title%}
<div class="ui middle aligned grid">
    <div class="column">
        <div class="ui stacked segment">
            <h2 class="ui teal header">Search Analysis</h2>
            <div class="ui divider"></div>
            {% if te.solved == False %}
                <div class="ui icon message">
                    <i class="notched circle loading icon"></i>
                    <div class="content">
                    <div class="header">
                        Search Queued
                    </div>
                    <p>Your search is on the queue for completion. Please check back shortly for your results</p>
                  </div>
                </div>
            {% else %}
                <table class="ui celled table courier">
                    <thead>
                        <tr>
                            <th>Sequence</th>
                            <th>Matches</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if te.solution == "[]" %}
                        <div class="ui info message">
                            <div class="ui header">No matches found</div>
                            <p>We're sorry, but no matches could be found. Try revising your search</p>
                        </div>
                    {% else %}
                        {% for size, soln in solns %}
                            <tr>
                                <td>
                                    {% for org, sol in soln %}
                                        {{ org }}
                                        <br />
                                        {{ sol }}
                                        <br />
                                        <br />
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ size }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>

{% include "tef/layout/footer.html" %}